<html>
 <head>
   <title>Account Info</title>
 </head>
 <script type="text/javascript">



Ext.onReady(function(){ 
	var acc_data = [ 
		//['NJ0001', '管理员1', '2014年8月3日16:01:51', '2014年8月3日17:36:31', 'nj0001@tcs.com', '15900000001', 2],
		//['NJ0002', '管理员2', '2014年8月3日16:01:51', '2014年8月3日17:36:31', 'nj0002@tcs.com', '15900000002', 2],
		//['NJ0003', '管理员3', '2014年8月3日16:01:51', '2014年8月3日17:36:31', 'nj0003@tcs.com', '15900000003', 3],
		//['NJ0004', '管理员4', '2014年8月3日16:01:51', '2014年8月3日17:36:31', 'nj0004@tcs.com', '15900000004', 3],
		//['NJ0005', '管理员5', '2014年8月3日16:01:51', '2014年8月3日17:36:31', 'nj0005@tcs.com', '15900000005', 3],
		//['NJ0006', '管理员6', '2014年8月3日16:01:51', '2014年8月3日17:36:31', 'nj0006@tcs.com', '15900000006', 2],
		//['NJ0007', '管理员7', '2014年8月3日16:01:51', '2014年8月3日17:36:31', 'nj0007@tcs.com', '15900000007', 2]
		<volist name="user_list" id="user_vo" key="k">
			['{$user_vo.uid}','{$user_vo.uname}','{$user_vo.create_time}','{$user_vo.last_login}','{$user_vo.email}','{$user_vo.mobilephone}',{$user_vo.utype}]
			<neq name="k" value="$user_list_count">,</neq>
		</volist>
	];
	var acc_store = new Ext.data.SimpleStore({
		data: acc_data,
		fields: ["uid","uname","create_time", "last_login", "email", "mobilephone", "utype"]
	});
	var acc_grid = new Ext.grid.EditorGridPanel({
		renderTo:"acc_info",
		title:"账户信息",//height:150, width:500,
		columns:[
			{header:"ID",dataIndex:"uid", width:100, sortable:true,
			renderer:function(val){
				var t = '<span onclick="column_click_handler(this.innerText)" style="cursor:pointer">id</span>';
				return t.replace(/id/g, val);
			}
		},
			{header:"昵称",dataIndex:"uname", width:150, sortable:true, 
				editor: new Ext.form.TextField({
					allowBlank: false
				})
			},
			{header:"创建时间",dataIndex:"create_time", width:220, sortable:true},
			{header:"上次登录时间",dataIndex:"last_login", width:220, sortable:true},
			{header:"邮箱",dataIndex:"email", width:180, sortable:true, 
				editor: new Ext.form.TextField({
					allowBlank: false,
					vtype:'email'
				})
			},
			{header:"手机号",dataIndex:"mobilephone", width:180, sortable:true, 
				editor: new Ext.form.TextField({
					allowBlank: false,
					minLength:11,
					maxLength:11,
					validator:function(val){
						return /1[3-8]{1}\d{9}/.test(val);
					}
				})
			},
			{header:"角色",dataIndex:"utype", sortable:true, 
				renderer:function(val){
					val = ""+val;
					switch(val){
						case '2':return "普通管理员";
						case '3':return "巡检员";
						default:return '<span style="font-color:red">错误</span>';
					}
				},
				editor:new Ext.form.ComboBox({
					transform:"utypeList",
					triggerAction: 'all',
					lazyRender:true
				})
			}
		],
		store:acc_store
		//autoExpandColumn:6
	});
	function SubmitAcc(obj){
		var rec = obj.record;
		var uid = rec.get("uid");
		var uname = rec.get("uname");
		var email = rec.get("email");
		var mobilephone = rec.get("mobilephone");
		var utype = rec.get("utype");
		//alert(uname+","+email+","+mobilephone+","+utype);
		//Ext.MessageBox.alert('警告', uname+","+email+","+mobilephone+","+utype);
		Ext.Ajax.request({
			url:'__ROOT__/Home/Inner/acc_info_modify',
			method:"GET",
			params:{uid:uid,uname:uname,email:email,mobilephone:mobilephone,utype:utype},
			success:function(response, options){
				//Ext.MessageBox.alert('警告', response.responseText);
				Ext.example.msg("提示", response.responseText);
			}
		});

	}
	acc_grid.on("afteredit", SubmitAcc, this);
//以下是权限表
	var perm_store = new Ext.data.JsonStore({
		fields:["did","dfullname","uid","uname","pcheck","pcontrol"],
		url:'__ROOT__/Home/Inner/perm_info_list',
		root:'root',
		totalProperty:'totalCount'
	});
	perm_store.load({ params:{ uid:0 } });
	//column_click_handler(0);
	var checkColumn = new Ext.grid.CheckColumn({
       header: "是否可查看",
       dataIndex: 'pcheck',
       width: 180
    });
	var ctrlColumn = new Ext.grid.CheckColumn({
       header: "是否可控制",
       dataIndex: 'pcontrol',
       width: 180
    });
	var perm_grid = new Ext.grid.GridPanel({
		renderTo:"perm_info",
		title:"权限信息", 
		autoHeight: true,//height:400, //width:500,
		loadMask:true,
		//viewConfig: { forceFit:true },
        plugins:[checkColumn,ctrlColumn],
		columns:[
			new Ext.grid.RowNumberer(),//增加自动编号，不需要可不必定义
			{header:"区县ID",dataIndex:"did", width:50, sortable:true, hidden:true },
			{header:"区县名称",dataIndex:"dfullname", width:210, sortable:true},
			{header:"用户ID",dataIndex:"uid", width:100,sortable:true},
			{header:"用户昵称",dataIndex:"uname", width:180,sortable:true},
			checkColumn, ctrlColumn
		],
		bbar: new Ext.PagingToolbar({
			pageSize: 15,
			store: perm_store,
			displayInfo: true,
			displayMsg: '当前显示{0}-{1}条，共{2}条',
			emptyMsg: '没有权限'
		}),
		store:perm_store,
		autoExpandColumn:3
	});
	function SubmitPerm(obj){
		var rec = obj.record;
		var uid = rec.get("uid");
		var pcheck = rec.get("pcheck");
		var pcontrol = rec.get("pcontrol");
		//Ext.MessageBox.alert('警告', pcheck+","+pcontrol);
		Ext.Ajax.request({
			url:'__ROOT__/Home/Inner/perm_modify_validate',
			method:"POST",
			params:{uid:uid, pcheck:pcheck, pcontrol:pcontrol},
			success:function(response, options){
				Ext.example.msg("提示", response.responseText);
			},
			failure:function(response, options){
				Ext.example.msg("提示", "修改权限失败！");
			}
		});

	}
	perm_grid.on("afteredit", SubmitPerm, this);


	function column_click_handler(puid){
		//*
		perm_store.reload({ 
			params:{ uid:puid },
			callback:function(rec,scope,success){
				if(!success){
					Ext.MessageBox.show({
			           title: '错误',
			           msg: '加载权限信息失败！',
			           buttons: Ext.MessageBox.OK,
			           icon: Ext.MessageBox.ERROR
			       });
				}
			}
		});//*/
	}
});

 </script>
 <body>
    <div id="acc_info" style="margin:5px"></div>

    <div id="op_tip" style="margin:5px">
    	<p>点击ID列单元格可以以查看或修改用户权限</p>
    	<p>点击昵称、邮箱、手机号列单元格可以修改用户信息</p>
    </div>

    <div id="perm_info" style="margin:5px"></div>

    <select id="utypeList" name="utypeList">
    	<option value="2">普通管理员</option>
    	<option value="3">巡检员</option>
    </select>
 </body>
</html>