[{	
	'id':'DRFGTHYUJIKNMGF', 
	'name':'小粉桥旁', 
	'lng':'34.556', 
	'lat':'24.5454', 
	'first_access':'2014年8月3日10:14:25', 
	'last_access':'2014年8月3日10:14:30', 
	'nmode':'0', 
	'auto_mix_scale':'0.345', 
	'auto_mix_level':'2.3', 
	'auto_mix_freq':'3600', 
	'district':'鼓楼区', 
	'city':'南京市', 
	'province':'江苏省'
},{
	'id':'DRFGTHYUJIKNTDE', 
	'name':'二条巷旁', 
	'lng':'34.556', 
	'lat':'24.5454', 
	'first_access':'2014年8月3日10:14:25', 
	'last_access':'2014年8月3日10:14:30', 
	'nmode':'0', 
	'auto_mix_scale':'0.345', 
	'auto_mix_level':'2.3', 
	'auto_mix_freq':'3600', 
	'district':'鼓楼区', 
	'city':'南京市', 
	'province':'江苏省'
},{
	'id':'DRFGTHYUJIKNTDE', 
	'name':'二条巷旁', 
	'lng':'34.556', 
	'lat':'24.5454', 
	'first_access':'2014年8月3日10:14:25', 
	'last_access':'2014年8月3日10:14:30', 
	'nmode':'0', 
	'auto_mix_scale':'0.345', 
	'auto_mix_level':'2.3', 
	'auto_mix_freq':'3600', 
	'district':'鼓楼区', 
	'city':'南京市', 
	'province':'江苏省'
},{
	'id':'DRFGTHYUJIKNTDE', 
	'name':'二条巷旁', 
	'lng':'34.556', 
	'lat':'24.5454', 
	'first_access':'2014年8月3日10:14:25', 
	'last_access':'2014年8月3日10:14:30', 
	'nmode':'0', 
	'auto_mix_scale':'0.345', 
	'auto_mix_level':'2.3', 
	'auto_mix_freq':'3600', 
	'district':'鼓楼区', 
	'city':'南京市', 
	'province':'江苏省'
},{
	'id':'DRFGTHYUJIKNTDE', 
	'name':'二条巷旁', 
	'lng':'34.556', 
	'lat':'24.5454', 
	'first_access':'2014年8月3日10:14:25', 
	'last_access':'2014年8月3日10:14:30', 
	'nmode':'0', 
	'auto_mix_scale':'0.345', 
	'auto_mix_level':'2.3', 
	'auto_mix_freq':'3600', 
	'district':'鼓楼区', 
	'city':'南京市', 
	'province':'江苏省'
},{
	'id':'DRFGTHYUJIKNTDE', 
	'name':'二条巷旁', 
	'lng':'34.556', 
	'lat':'24.5454', 
	'first_access':'2014年8月3日10:14:25', 
	'last_access':'2014年8月3日10:14:30', 
	'nmode':'0', 
	'auto_mix_scale':'0.345', 
	'auto_mix_level':'2.3', 
	'auto_mix_freq':'3600', 
	'district':'鼓楼区', 
	'city':'南京市', 
	'province':'江苏省'
},{
	'id':'DRFGTHYUJIKNTDE', 
	'name':'二条巷旁', 
	'lng':'34.556', 
	'lat':'24.5454', 
	'first_access':'2014年8月3日10:14:25', 
	'last_access':'2014年8月3日10:14:30', 
	'nmode':'0', 
	'auto_mix_scale':'0.345', 
	'auto_mix_level':'2.3', 
	'auto_mix_freq':'3600', 
	'district':'鼓楼区', 
	'city':'南京市', 
	'province':'江苏省'
},{
	'id':'DRFGTHYUJIKNTDE', 
	'name':'二条巷旁', 
	'lng':'34.556', 
	'lat':'24.5454', 
	'first_access':'2014年8月3日10:14:25', 
	'last_access':'2014年8月3日10:14:30', 
	'nmode':'0', 
	'auto_mix_scale':'0.345', 
	'auto_mix_level':'2.3', 
	'auto_mix_freq':'3600', 
	'district':'鼓楼区', 
	'city':'南京市', 
	'province':'江苏省'
},{
	'id':'DRFGTHYUJIKNTDE', 
	'name':'二条巷旁', 
	'lng':'34.556', 
	'lat':'24.5454', 
	'first_access':'2014年8月3日10:14:25', 
	'last_access':'2014年8月3日10:14:30', 
	'nmode':'0', 
	'auto_mix_scale':'0.345', 
	'auto_mix_level':'2.3', 
	'auto_mix_freq':'3600', 
	'district':'鼓楼区', 
	'city':'南京市', 
	'province':'江苏省'
},{
	'id':'DRFGTHYUJIKNTDE', 
	'name':'二条巷旁', 
	'lng':'34.556', 
	'lat':'24.5454', 
	'first_access':'2014年8月3日10:14:25', 
	'last_access':'2014年8月3日10:14:30', 
	'nmode':'0', 
	'auto_mix_scale':'0.345', 
	'auto_mix_level':'2.3', 
	'auto_mix_freq':'3600', 
	'district':'鼓楼区', 
	'city':'南京市', 
	'province':'江苏省'
}]