{totalCount:<?php echo($node_count);?>,
root:[
<volist name="node_list" id="node_vo" key="k">
{	
	'id':'{$node_vo.nid}', 
	'name':'{$node_vo.nname}', 
	'lng':'{$node_vo.lng}', 
	'lat':'{$node_vo.lat}', 
	'first_access':'{$node_vo.first_access}', 
	'last_access':'{$node_vo.last_access}', 
	'nmode':'{$node_vo.nmode}', 
	'auto_mix_scale':'{$node_vo.auto_mix_scale}', 
	'auto_mix_level':'{$node_vo.auto_mix_level}', 
	'auto_mix_freq':'{$node_vo.auto_mix_freq}', 
	'district':'{$node_vo.dname}', 
	'city':'{$node_vo.cname}', 
	'province':'{$node_vo.vname}',
	'baiduid':'{$node_vo.baidu_id}',
	'nh3':{$node_vo.nnh3},
	'h2s':{$node_vo.nh2s}
}<neq name="k" value="$node_count">,</neq>
</volist>
]}