<html>
 <head>
   <title>Node Info</title>
 </head>
 <script type="text/javascript">
Ext.onReady(function(){ 
	var node_store = new Ext.data.JsonStore({
		//data:node_data,
		idPropery:"id",
		//remoteSort:true,

		fields:["id","name", "lng", "lat", "first_access", "last_access", 
			"nmode", "auto_mix_scale", "auto_mix_level", "auto_mix_freq", 
			"district", "city", "province"],
		root: 'root',
        totalProperty: 'totalCount',
		url:'__ROOT__/Home/Inner/node_info_list'
	});
	node_store.load({ 
		params:{ start:0,limit:15 } ,
		callback:function(rec,scope,success){
			if(!success){
				Ext.MessageBox.show({
		           title: '错误',
		           msg: '加载节点信息失败！',
		           buttons: Ext.MessageBox.OK,
		           icon: Ext.MessageBox.ERROR
		       });
			}
		}
	});
	var node_grid = new Ext.grid.GridPanel({
		renderTo:"node_info",
		title:"节点信息", 
		autoHeight: true,//height:400, //width:500,
		loadMask:true,
		//viewConfig: { forceFit:true },
		columns:[
			//new Ext.grid.RowNumberer(),//增加自动编号，不需要可不必定义
			{header:"ID",dataIndex:"id", width:210, renderer:function(val){return val;} },
			{header:"名称",dataIndex:"name", width:120},
			{header:"经度",dataIndex:"lng", width:100},
			{header:"纬度",dataIndex:"lat", width:100},
			{header:"创建时间",dataIndex:"first_access", width:220, hidden:true},
			{header:"停止时间",dataIndex:"last_access", width:220},
			{header:"模式",dataIndex:"nmode", width:50, 
				renderer:function(val){
					val = "" + val;
					switch(val){
						case '0': return "自动";
						case '1': return "手动";
						default: return "未知"+val+"位置";
					}
				}
			},
			{header:"混合比例",dataIndex:"auto_mix_scale"},
			{header:"混合量",dataIndex:"auto_mix_level"},
			{header:"喷洒频率",dataIndex:"auto_mix_freq"},
			{header:"所属省份",dataIndex:"province"},
			{header:"所属城市",dataIndex:"city"},
			{header:"所属区县",dataIndex:"district"}
		],
		bbar: new Ext.PagingToolbar({
			pageSize: 15,
			store: node_store,
			displayInfo: true,
			displayMsg: '当前显示{0}-{1}条，共{2}条',
			emptyMsg: '没有节点'
		}),
		store:node_store//, autoExpandColumn:2
	});
});

 </script>
 <body>
    <div id="node_info" style="margin:5px"></div>
    <div>
    	<p></p>
    </div>
 </body>
</html>