{totalCount:45, root:[{	
	'oid':1, 
	'nid':'DEFRGTYUJGNBFRTF',
	'nname':'小粉桥旁', 
	'otype':1, 
	'otime':'2014年8月3日16:39:49', 
	'nmode':'', 
	'mix_scale':'0.345', 
	'mix_level':'2.3', 
	'mix_freq':'3600'
},{
	'oid':2, 
	'nid':'DEFRGTYUJGNBFRTF',
	'nname':'小粉桥旁', 
	'otype':2, 
	'otime':'2014年8月3日16:39:49', 
	'nmode':'', 
	'mix_scale':'0.345', 
	'mix_level':'2.3', 
	'mix_freq':'3600'
},{
	'oid':3, 
	'nid':'DEFRGTYUJGNBFRTF',
	'nname':'小粉桥旁', 
	'otype':3, 
	'otime':'2014年8月3日16:39:49', 
	'nmode':'自动', 
	'mix_scale':'', 
	'mix_level':'', 
	'mix_freq':''
},{
	'oid':2, 
	'nid':'DEFRGTYUJGNBFRTF',
	'nname':'小粉桥旁', 
	'otype':2, 
	'otime':'2014年8月3日16:39:49', 
	'nmode':'', 
	'mix_scale':'0.345', 
	'mix_level':'2.3', 
	'mix_freq':'3600'
},{
	'oid':2, 
	'nid':'DEFRGTYUJGNBFRTF',
	'nname':'小粉桥旁', 
	'otype':2, 
	'otime':'2014年8月3日16:39:49', 
	'nmode':'', 
	'mix_scale':'0.345', 
	'mix_level':'2.3', 
	'mix_freq':'3600'
},{
	'oid':2, 
	'nid':'DEFRGTYUJGNBFRTF',
	'nname':'小粉桥旁', 
	'otype':2, 
	'otime':'2014年8月3日16:39:49', 
	'nmode':'', 
	'mix_scale':'0.345', 
	'mix_level':'2.3', 
	'mix_freq':'3600'
},{
	'oid':2, 
	'nid':'DEFRGTYUJGNBFRTF',
	'nname':'小粉桥旁', 
	'otype':2, 
	'otime':'2014年8月3日16:39:49', 
	'nmode':'', 
	'mix_scale':'0.345', 
	'mix_level':'2.3', 
	'mix_freq':'3600'
},{
	'oid':2, 
	'nid':'DEFRGTYUJGNBFRTF',
	'nname':'小粉桥旁', 
	'otype':2, 
	'otime':'2014年8月3日16:39:49', 
	'nmode':'', 
	'mix_scale':'0.345', 
	'mix_level':'2.3', 
	'mix_freq':'3600'
},{
	'oid':2, 
	'nid':'DEFRGTYUJGNBFRTF',
	'nname':'小粉桥旁', 
	'otype':2, 
	'otime':'2014年8月3日16:39:49', 
	'nmode':'', 
	'mix_scale':'0.345', 
	'mix_level':'2.3', 
	'mix_freq':'3600'
},{
	'oid':2, 
	'nid':'DEFRGTYUJGNBFRTF',
	'nname':'小粉桥旁', 
	'otype':2, 
	'otime':'2014年8月3日16:39:49', 
	'nmode':'', 
	'mix_scale':'0.345', 
	'mix_level':'2.3', 
	'mix_freq':'3600'
}]}