<html>
 <head>
   <title>Password Modify</title>
 </head>
 <body>
<script type="text/javascript">

Ext.onReady(function(){

    Ext.QuickTips.init();
    Ext.form.Field.prototype.msgTarget = 'side';//'qtip';//'under';

    var simple = new Ext.FormPanel({
        labelWidth: 75, // label settings here cascade unless overridden
        //url:'login_validate.php',
        renderTo:"password_modify_div",
        frame:true,
        title: '{$password_modify_title}',
        style:'margin:5px',
        width: 550,
        defaults: {width: 230},
        defaultType:'textfield',
        layout:"form",
        items: [{
                fieldLabel: '旧密码',
                id:'old_password',
                name: 'old_password',
                allowBlank:false,
                inputType:'password',
                blankText:'请输入旧密码'
            },{
                fieldLabel: '新密码',
                id:'password',
                name: 'password',
                allowBlank:false,
                inputType:'password',
                blankText:'请输入新密码'
            },{
                fieldLabel: '确认新密码',
                id:'password_confirm',
                name: 'password_confirm',
                allowBlank:false,
                inputType:'password',
                blankText:'请再次输入密码'
            }
        ],

        buttons: [{
            text: '添加',
            handler:password_modify_submit
        }]
    });
    function password_modify_submit(){
        Ext.Ajax.request({
            url:'__ROOT__/Home/Inner/password_modify_validate',
            method:"POST",
            //params:{},
            success:function(response, options){
                //Ext.MessageBox.alert('警告', response.responseText);
                Ext.example.msg("提示", response.responseText);
            }
        });
    }

});
</script>
<div id="password_modify_div">

</div>
 </body>
</html>