<html>
 <head>
   <title>Perm Modify</title>
 </head>
 <script type="text/javascript">



Ext.onReady(function(){ 
	var perm_data = [ 
		['NJ0001', '管理员1', true, false],
		['NJ0002', '管理员2', true, true],
		['NJ0003', '管理员3', true, true],
		['NJ0004', '管理员4', false, true],
		['NJ0005', '管理员5', false, false],
		['NJ0006', '管理员6', false, false],
		['NJ0007', '管理员7', true, true]
	];
	var perm_store = new Ext.data.SimpleStore({
		data: perm_data,
		fields: ["uid","uname","pcheck", "pcontrol"]
	});
	var checkColumn = new Ext.grid.CheckColumn({
       header: "是否可查看",
       dataIndex: 'pcheck',
       width: 180
    });
	var ctrlColumn = new Ext.grid.CheckColumn({
       header: "是否可控制",
       dataIndex: 'pcontrol',
       width: 180
    });
	var perm_grid = new Ext.grid.EditorGridPanel({
		renderTo:"perm_info",
		title:"权限信息",//height:150, width:500,
		stripeRows:true, //斑马线效果
		defaultType: 'checkbox',
        plugins:[checkColumn,ctrlColumn],
		columns:[
			{header:"ID",dataIndex:"uid", width:100, sortable:true},
			{header:"昵称",dataIndex:"uname", sortable:true},
			checkColumn,//{header:"是否可查看",dataIndex:"pcheck", width:180, xtype:"checkbox", inputValue: '1' },
			ctrlColumn//{header:"是否可控制",dataIndex:"pcontrol", width:180, xtype:"checkbox", inputValue: '1'}
		],
		store:perm_store
		//autoExpandColumn:6
	});
	function SubmitPerm(obj){
		var rec = obj.record;
		var uid = rec.get("uid");
		var uname = rec.get("uname");
		var pcheck = rec.get("pcheck");
		var pcontrol = rec.get("pcontrol");
		Ext.MessageBox.alert('警告', pcheck+","+pcontrol);
		Ext.Ajax.request({
			url:'__ROOT__/Home/Inner/perm_modify_validate',
			method:"POST",
			params:{uid:uid,uname:uname,pcheck:pcheck,pcontrol:pcontrol},
			success:function(response, options){
				Ext.example.msg("提示", response.responseText);
			}
		});

	}
	perm_grid.on("afteredit", SubmitPerm, this);

});

 </script>
 <body>
    <div id="perm_info" style="margin:5px"></div>

 </body>
</html>