<html>
 <head>
   <title>{$index_title}</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/ext-2.0.2/resources/css/ext-all.css"/>
    <script type="text/javascript" src="__ROOT__/Public/ext-2.0.2/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/ext-2.0.2/ext-all.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/assets/js/tcs-base.js"></script>
   <link rel="stylesheet" type="text/css" href="__ROOT__/Public/ext-2.0.2/examples/examples.css" />
   <link rel="stylesheet" type="text/css" href="__ROOT__/Public/assets/css/tcs-base.css" />
<script type="text/javascript">

Ext.onReady(function(){

    Ext.state.Manager.setProvider(new Ext.state.CookieProvider());
    
    var main_tab_panel = new Ext.TabPanel({
        id:'mainTabPanel',
        region:'center',
        deferredRender:false,
        activeTab:0,
        defaults: {autoScroll:true},
        enableTabScroll: true
    });

    var viewport = new Ext.Viewport({
        layout:'border',
        items:[
            new Ext.BoxComponent({ // raw
                region:'north',
                el: 'north',
                height:50
            }),{
                region:'west',
                id:'menu-panel',
                title:'菜单',
                split:true,
                width: 120,
                minSize: 120,
                maxSize: 400,
                collapsible: true,
                margins:'0 0 0 5',
                layout:'accordion',
                layoutConfig:{
                    animate:true
                },
                items: [{
                    contentEl: 'tcs_menu_info',
                    title:'系统信息',
                    border:false,
                    iconCls:'nav'
                },{
                    contentEl: 'tcs_menu_acc',
                    title:'账户管理',
                    border:true,
                    iconCls:'nav'
                },{
                    contentEl: 'tcs_menu_mine',
                    title:'我的账户',
                    border:false,
                    iconCls:'settings'
                }]
            },
            main_tab_panel
         ]
    });

    addTcsTab(document.getElementById('tcs_menu_item_sys_summary'), '__ROOT__/Home/Inner/system_summary', true);
});

function addTcsTab(elem, turl, isclosable) {
    var tid = elem.id.replace("item", "panel");
    var mainTabPanel = Ext.getCmp('mainTabPanel');
    var tp = Ext.getCmp(tid);
    if (tp != null) {
        tp.show();
        return;
    }

    tp = new Ext.TabPanel({
        id:tid,
        title: elem.innerText,
        closable:!isclosable,
        autoScroll:true,
        frame:true,
        //header:'none',
        autoLoad:{
            url:turl,
            scripts:true,
            script:true,
            callback:function(el, is_succeed, response){
                if(!is_succeed){
                    //alert(response.responseText);
                    //console.log(el);
                    el.dom.innerHTML = response.responseText;
                    //Ext.MessageBox.alert("错误",response.responseText.substring(0,100));
                }
            },
            timeout:15
        }
    });
    mainTabPanel.add(tp).show();
}
    </script>


 </head>

 <body>


  <div id="tcs_menu_info">
        <div class="tcs_menu_item" id="tcs_menu_item_sys_summary" onclick="addTcsTab(this, '__ROOT__/Home/Inner/system_summary')">系统概况</div>
        <div class="tcs_menu_item" id="tcs_menu_item_area_info" onclick="addTcsTab(this, '__ROOT__/Home/Inner/area_info')">区域信息</div>
        <div class="tcs_menu_item" id="tcs_menu_item_node_info" onclick="addTcsTab(this, '__ROOT__/Home/Inner/node_info')">节点信息</div>
        <div class="tcs_menu_item" id="tcs_menu_item_op_info" onclick="addTcsTab(this, '__ROOT__/Home/Inner/op_info')">操作信息</div>
        <div class="tcs_menu_item" id="tcs_menu_item_msg_info" onclick="addTcsTab(this, '__ROOT__/Home/Inner/msg_info')">短信信息</div>
  </div>
  <div id="tcs_menu_acc">
        <div class="tcs_menu_item" id="tcs_menu_item_acc_info" onclick="addTcsTab(this, '__ROOT__/Home/Inner/acc_info')">账户信息</div>
        <div class="tcs_menu_item" id="tcs_menu_item_acc_add" onclick="addTcsTab(this, '__ROOT__/Home/Inner/acc_add')">账户添加</div>
  </div>
  <div id="tcs_menu_mine">
        <!--<div class="tcs_menu_item" id="tcs_menu_item_my_info" onclick="addTcsTab(this, 'test')">我的资料</div>-->
        <div class="tcs_menu_item" id="tcs_menu_item_password_modify" onclick="addTcsTab(this, '__ROOT__/Home/Inner/password_modify')">密码修改</div>
  </div>

  <div id="north">
    <div style="float:right;font-size:12pt;color:red;font-weight:bold;margin-right:30px;margin-top:10px;">
        <a href="__ROOT__/Home/Index/logoff">退出</a>
    </div>
    <span style="font-size:40px;font-weight:400;margin-left:50px">{$system_name}</span>
  </div>


 
<script language="javascript">
    

</script>

 </body>
</html>