html, body {
    font:normal 12px verdana;
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
}
p {
    margin:5px;
}
.settings {
    background-image:url(../../ext-2.0.2/examples/shared/icons/fam/folder_wrench.png);
}
.nav {
    background-image:url(../../ext-2.0.2/examples/shared/icons/fam/folder_go.png);
}
.tcs_menu_item{
    text-align: left;
    padding: 0 0 0 10px;
    margin: 3px 5px;
    font-size: 15px;
    cursor:pointer;
}

.tcs_menu_item:hover {
    color:white;
    background-color:gray;
}

.tcs_select{
    height:30px!important;
    font-size:18px;
}
.tcs_select_item{
    font-size:18px;
}

.tcs_form_item_label{
    font-size:16px;
}