<html>
 <head>
   <title>Node Info</title>
 </head>
 <script type="text/javascript">
Ext.onReady(function(){ 
	var node_store = new Ext.data.JsonStore({
		//data:node_data,
		idPropery:"id",
		//remoteSort:true,
		fields:["id","name", "lng", "lat", "first_access", "last_access", 
			"nmode", "auto_mix_scale", "auto_mix_level", "auto_mix_freq", 
			"district", "city", "province"],
		url:'__ROOT__/Home/Inner/node_info_list' //使用相同数据源
	});
	node_store.load({ params:{ start:0,limit:6 } });
	var node_grid = new Ext.grid.GridPanel({
		renderTo:"node_info",
		title:"节点信息", 
		autoHeight: true,//height:400, //width:500,
		loadMask:true,
		stripeRow:true,
		//viewConfig: { forceFit:true },
		rowdblclick:function(row){
			alert(row);
		},
		columns:[
			new Ext.grid.RowNumberer(),//增加自动编号，不需要可不必定义
			{header:"ID",dataIndex:"id", width:150, sortable:true, 
				renderer:function(val){
					return val;
					//return '<a href="javascript:(0)" onclick="ShowNodeEditPanel(this)">'+val+'</a>';
				}
			},
			{header:"名称",dataIndex:"name", sortable:true},
			{header:"经度",dataIndex:"lng", width:100,sortable:true},
			{header:"纬度",dataIndex:"lat", width:100,sortable:true},
			{header:"创建时间",dataIndex:"first_access", width:150, sortable:true},
			{header:"停止时间",dataIndex:"last_access", width:150, sortable:true},
			{header:"模式",dataIndex:"nmode", width:50, sortable:true,
				renderer:function(val){
					val = "" + val;
					switch(val){
						case '0': return "自动";
						case '1': return "手动";
						default: return "未知"+val+"位置";
					}
				}
			},
			{header:"混合比例",dataIndex:"auto_mix_scale", sortable:true},
			{header:"混合量",dataIndex:"auto_mix_level", sortable:true},
			{header:"喷洒频率",dataIndex:"auto_mix_freq", sortable:true},
			{header:"所属区县",dataIndex:"district", sortable:true},
			{header:"所属城市",dataIndex:"city", sortable:true},
			{header:"所属省份",dataIndex:"province", sortable:true}
		],
		bbar: new Ext.PagingToolbar({
			pageSize: 6,
			store: node_store,
			displayInfo: true,
			displayMsg: 'Display topics {0} - {1} of {2}',
			emptyMsg: 'Nothing to Display'
		}),
		store:node_store//, autoExpandColumn:2
	});
	node_grid.addListener("rowclick", function(sm, rowIndex, e){
		alert(sm);
		alert(rowIndex);
		alert(e);
	});
});
function ShowNodeEditPanel(rowelem){
	//Ext.MessageBox.alert("Tip",rowelem.innerText);

}

 </script>
 <body>
    <div id="node_info" style="margin:5px"></div>

 </body>
</html>