<html>
 <head>
   <title>{$index_title}</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/ext-2.0.2/resources/css/ext-all.css"/>
    <script type="text/javascript" src="__ROOT__/Public/ext-2.0.2/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/ext-2.0.2/ext-all.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/assets/js/tcs-base.js"></script>
   <link rel="stylesheet" type="text/css" href="__ROOT__/Public/ext-2.0.2/examples/examples.css" />
   <link rel="stylesheet" type="text/css" href="__ROOT__/Public/assets/css/tcs-base.css" />
<script type="text/javascript">

Ext.onReady(function(){

    Ext.state.Manager.setProvider(new Ext.state.CookieProvider());
    
    var main_tab_panel = new Ext.TabPanel({
        id:'mainTabPanel',
        region:'center',
        deferredRender:false,
        activeTab:0,
        defaults: {autoScroll:true},
        enableTabScroll: true
    });

    var viewport = new Ext.Viewport({
        layout:'border',
        items:[
            new Ext.BoxComponent({ // raw
                region:'north',
                el: 'north',
                height:50
            }),{
                region:'west',
                id:'menu-panel',
                title:'菜单',
                split:true,
                width: 100,
                minSize: 100,
                maxSize: 400,
                collapsible: true,
                margins:'0 0 0 5',
                layout:'accordion',
                layoutConfig:{
                    animate:true
                },
                items: [{
                    contentEl: 'tcs_menu_node',
                    title:'节点管理',
                    border:false,
                    iconCls:'nav'
                },{
                    contentEl: 'tcs_menu_mine',
                    title:'我的账户',
                    border:false,
                    iconCls:'settings'
                }]
            },
            main_tab_panel
         ]
    });

    addTcsTab(document.getElementById('tcs_menu_item_node_map'), '__ROOT__/Home/Innerf/node_map', false);
});

function addTcsTab(elem, turl, isclosable) {
    var tid = elem.id.replace("item", "panel");
    var mainTabPanel = Ext.getCmp('mainTabPanel');
    var tp = Ext.getCmp(tid);
    if (tp != null) {
        tp.show();
        return;
    }

    tp = new Ext.TabPanel({
        id:tid,
        title: elem.innerText,
        closable:!isclosable,
        autoScroll:true,
        frame:true,
        //header:'none',
        autoLoad:{
            url:turl,
            scripts:true,
            script:true
        }
    });
    mainTabPanel.add(tp).show();
}
    </script>


 </head>

 <body>


  <div id="tcs_menu_node">
        <div class="tcs_menu_item" id="tcs_menu_item_node_map" onclick="addTcsTab(this, '__ROOT__/Home/Innerf/node_map')">节点地图</div>
        <div class="tcs_menu_item" id="tcs_menu_item_node_table" onclick="addTcsTab(this, '__ROOT__/Home/Innerf/node_table')">节点表格</div>
  </div>
  <div id="tcs_menu_mine">
        <div class="tcs_menu_item" id="tcs_menu_item_my_info" onclick="addTcsTab(this, '__ROOT__/Home/Innerf/my_info')">我的资料</div>
        <div class="tcs_menu_item" id="tcs_menu_item_password_modify" onclick="addTcsTab(this, '__ROOT__/Home/Innerf/password_modify')">密码修改</div>
  </div>

  <div id="north">
    <span style="font-size:40px;font-weight:400;margin-left:50px">{$system_name}</span>
  </div>


 
<script language="javascript">
    

</script>

 </body>
</html>